.abouttitle{
    font-size: 3rem;
    font-weight: 750;
    margin-left: auto;
    margin-right: auto;
    color: #360F88;
    margin-top:0.4rem;
    width:6vw;
}
.abouttitle:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom:-25%;
    transform: translateX(-50%);
    width: 100px;
    height:4px;
    background-color: #360F88;
    border-radius: 2px;
    }

.aboutsection{
    display: flex;
}
.aboutPhoto{
    width:27vw;
    height: 70vh;
    margin-left: 20rem;
    margin-top: 5rem;
}
.aboutPhoto img{
    width: 25vw;
    height: 70vh;
    border-radius:50rem;
}
.aboutmyself{
    height: 25vh;
    width: 30vw;
   margin-left:20rem;
   margin-top: 3rem;
   /* border-bottom: 1px solid black; */
}
.aboutmyself h2{
    font-size:2.5rem;
    font-weight:700;
}
.aboutmyself p{
    font-size:1.7rem;
    font-weight: 500;
    opacity: 80%;
    margin-top:1rem;
}
.abouteducation{
    width: 31vw;
    border-top:0.2rem solid black ;
    height: 50vh;
}
.abouteducation h2{
    font-weight:700;
    opacity: 99%;
}
.abouteducation p{
    font-size:1.7rem;
    font-weight:640;
    color:#360F88;
}
.abouteducation span{
    font-size: 1.5rem;
    font-weight:780;
    color: #360F88;
}
@media(max-width:896px){
    .aboutmyself{
        margin-left:17rem;
        width:29vw;
        margin-top:3rem;
    }
    .aboutPhoto{
        margin-left:12rem;
    }
    .aboutPhoto img{
        width: 36vw;
    }
    .abouteducation{
        width:35vw;
     }
     .abouttitle{
        width:8vw;
    }
}
@media(min-width:896px) and (max-width:1024px){
    .aboutmyself{
        margin-left: 10rem;
        width:40vw;
    }
    .aboutPhoto{
        margin-left:10rem;
    }
    .abouteducation{
       width:40vw;
    }
    .aboutPhoto img{
        width: 30vw;
    }
    .abouttitle{
        width:10vw;
        }

}
@media(min-width:1024px) and (max-width:1200px) {
    .aboutPhoto{
        margin-left:10rem;
    }
    .abouttitle{
        width:8vw;

        }
}
@media(max-width:660px){
.aboutPhoto{
    margin-left:5rem;
}
.aboutPhoto img{
    width: 39vw;
}
.aboutmyself{
    margin-left:20rem;
}
.abouttitle{
    width:10vw;
}
}
@media(max-width:550px){
    .aboutsection{
        display: block;
        margin-left:-4rem;
        margin-top:7rem;
    }
    .aboutPhoto{
    margin-left:20rem;
    }
    .aboutPhoto img{
        width:50vw;
    }
    .abouttitle{
        margin-left: auto;
        margin-right: auto;
        width:12vw;
    }
    .aboutmyself{
        margin-left:22rem;
        margin-top:6rem;
        width:50vw ;
    }
    .abouteducation{
        width:50vw;
    }
}
@media(max-width:500px){
    .abouttitle{
        margin-left:25rem;
    }
    .aboutPhoto{
        margin-left:15rem;
        }
        .aboutPhoto img{
            width: auto;
        }
        .aboutmyself{
            margin-left:20rem;
            margin-top:6rem;
            width:50vw ;
        }
}